<div class="container justify-content-center text-center">
<div class="row justify-content-center">
    <img src="/assets/img/burger.png" alt="burger" class="img img-fluid">
</div>
<h1>EAT DA BURGER!</h1>
        <div class="row">
            <div class="col text-center">
            <ul id = "uneaten">
                {{#each burgers}}
                    {{#unless devoured}}
                    
                        {{>burgers/burger-block devoured = false}}
                    {{/unless}}
                {{/each}}
            </ul>
            </div>
        

        <div class="col text-center">
            <ul id="eaten" class="text-muted">
                {{#each burgers}}
                    {{#if devoured}}
                    
                    {{>burgers/burger-block devoured=true}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
        </div>


    <div class="row">
        <div class =" col text-align-center justify-content-center">
            <form class ="create-burger">
                <div class = "form-group">
                    <textarea class="form-control" rows="3" type ="text" id="newBurger" name="newBurger"></textarea>
                </div>
                <div>
            <button class="btn btn-large btn-primary"type="submit">Submit New Burger</button></div>

            </form>
        </div>
        </div>
    
</div>

