body {
    background:#ffcc5c;
}


.burger{
    width: 400px;
    margin: 10px 0px;
    padding: 10px 0px;
    background: #fff;
}


ul {
    list-style-type: none;
  }

  h1{
      color: red;
  }
  
/* BURGER CLASS HAS TO BE DIFFERENT WHEN BURGER HAS BEEN EATEN....THAT IS NEXT FIX */