<li>
    {{id}}.                 {{burger_name}}
    {{#unless devoured}}
<button class="eat btn btn-sm btn-danger" data-id="{{id}}" data-eaten="{{devoured}}">
   DEVOUR IT!
</button>
{{/unless}}
</li>